@import '../style.scss';
@import 'color';
@import 'dimmensions';

:local {
  .solution {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    margin: $dimm-margin-xsmall;
  }

  .solution-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: $dimm-margin-xsmall;
    background-color: $color-bg-light_yellow;
  }

  .differing-cell {
    background-color: $color-bg-green;
  }

  .original-assignment {
    font-weight: bold;
  }
}