@import 'color';
@import 'dimmensions';

:local {
  .puzzle-select-panel {
    display: flex;
    flex-direction: column;
    width: 560px;
    height: $panel-height;
    margin: $dimm-margin-small;
    margin-top: 0;
  }

  .select-table-container {
    flex-grow: 1;
    overflow-x: scroll;
    display: flex;
  }

  .column-selector-container {
    position: relative;
    margin-top: $dimm-margin-xsmall;
    margin-bottom: $dimm-margin-small;
  }

  .column-selector {
    position: absolute;
    background: $color-bg-base-1;
    border: solid 1px black;
    padding: $dimm-margin-small;
    z-index: 300;
  }

  .header-container {
    display: flex;
    flex-shrink: 0;
  }

  .select-button-container {
    display: flex;
    flex-shrink: 1;
  }

  .column-select-button {
    width: inherit;
  }

  .attribute-selector {
    display: flex;
  }

  .filter-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  .field-title {
    font-weight: bold;
  }

  .field-filter {
    font-size: 12px;
    width: 100%;
    margin: $dimm-margin-xsmall 0;
  }

  .type-select {
    margin: 0 $dimm-margin-small;
  }

  .select-table {
    font-size: 12px;
    table-layout: fixed;
    border-collapse: collapse;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;

    .table-header {
      display: flex;
      justify-content: flex-start;
      position: relative;
      flex-shrink: 0;
    }
    
    .table-body {
      display: block;
      overflow-y: scroll;
      border: solid black 1px;
      background-color: $color-bg-base-1;
    }

    .table-list {
      display: flex;
      flex-direction: column;
    }
  }

  .check-text {
    margin-left: 0.5rem;
  }

  .sort-glyph {
    padding-left: 0.25rem;
  }

  .column {
    display: flex;
    flex-direction: column;
    padding-left: $dimm-margin-small;
    padding-right: $dimm-margin-small;
  }

  .col-name {
    @extend .column;
    width: $dimm-sort-name-width;
    text-align: left;
  }

  .col-level {
    @extend .column;
    width: $dimm-sort-level-width;
    text-align: center;
  }

  .col-source {
    @extend .column;
    width: $dimm-sort-source-width;
    text-align: left;

    .field-title {
      text-align: left;
    }
  }

  .col-clues {
    @extend .column;
    width: $dimm-sort-clues-width;
    text-align: center;
  }

  .col-solutions {
    @extend .column;
    width: $dimm-sort-solutions-width;
    text-align: center;
  }
  
  .col-const {
    @extend .column;
    width: $dimm-sort-consistencies-width;
    text-align: center;
  }
}