@import 'color';
@import 'dimmensions';

:local {
  .interactive-tools {
    display: flex;
    flex-direction: column;
    margin: $dimm-margin-xsmall;
    padding: $dimm-margin-small;
    background-color: $color-bg-base-0;
    border: solid 1px $color-border-base-0;
  }

  .title {
    font-size: 16px;
    text-align: center;
  }

  .hover-info {
    pointer-events: none;
    display: none;
    width: 300px;
    padding: 5px;
    background-color: $color-bg-yellow;
    border: solid 1px $color-border-base-0;
    left: 75%;
    top: 75%;
    text-align: left;

    &.mid {
      top: 50%;
      transform: translateY(-50%);
    }

    &.bottom {
      top: inherit;
      bottom: 25%;
    }
  }

  .hover-button {
    display: relative;
    
    &:hover .hover-info {
      display: block;
      position: absolute;
      z-index: 500;
    }
  }

  .vertical-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    border: solid 1px $color-border-base-1;
    margin: $dimm-margin-small;
  }

  .propagation-radio {
    margin: $dimm-margin-xsmall;
  }

  .blank-card {
    @extend .card;
    border: none;
  }

  .binary-card {
    @extend .card;
  }

  .non-binary-card {
    @extend .card;
  }
}
