@import 'color';
@import 'dimmensions';

:local {
  .settings-panel {
    padding: $dimm-margin-xsmall;
    width: $panel-width;
    height: $panel-height;
    display: flex;
    flex-direction: column;
  }

  .settings-card, .acknowledgements-card {
    margin: $dimm-margin-xsmall;
    padding: $dimm-margin-small;
    border: solid 1px $color-border-base-0;
    background-color: $color-bg-base-0;

    .title {
      font-size: 16px;
      text-align: center;
    }

    .setting {
      font-size: 14px;
      padding: $dimm-margin-xsmall;

      &:nth-child(even) {
        background-color: $color-bg-base-1;
      }
    }
  }

  .settings-card {
    flex-grow: 1;
    margin-top: 0;
  }

  .acknowledgements {
    font-size: 14px;
  }

  .input {
    margin-right: $dimm-margin-xsmall;
    margin-left: $dimm-margin-xsmall;
  }

  input[type="checkbox"].input {
    margin-right: $dimm-margin-small;
  }

  input[type="text"].input {
    @extend .input;
    width: 60px;

    &.error {
      border-color: red;
    }
  }
}