@import 'color';

:local {
  .cell-holder {
    position: relative;
    width: 17px;
    height: 17px;
    background-color: $color-bg-base-1;
    border: 1px solid $button-border-base-1;
  }

  .cell {
    font-size: 12px;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: transparent;
    border: none;
    margin: 0;
  }
}
