@import 'color';

:local {
  .cell-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 113px;
    border: 1px solid $board-border;

    &.small {
      width: 53px;
    }
  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 341px;
    border: 1px solid $board-border;

    &.small {
      width: 161px;
      justify-self: center;
    }
  }
}
