@import 'color';
@import 'dimmensions';

:local {
  .solve-panel {
    height: $panel-height;
    display: grid;
    grid-template-columns: 155px 410px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "consistency history"
      "propagation history"
      "interactive history"
      "search history";
    
    padding: $dimm-margin-xsmall;
  }

  .section {
    margin: $dimm-margin-xsmall;
    padding: $dimm-margin-small;
    background-color: $color-bg-base-0;
    border: solid 1px $color-border-base-0;
  }

  .solve-section {
    @extend .section;
    display: flex;
    flex-direction: column;

    .title {
      text-align: center;
    }
  }

  .consistency-section {
    grid-area: consistency;
  }

  .propagation-section {
    grid-area: propagation;
  }

  .interactive-section {
    grid-area: interactive;
  }

  .solver-history-section {
    grid-area: search;
  }

  .solver-history-section {
    @extend .section;
    grid-area: history;
    display: flex;
    flex-direction: column;
  }
}
