@import 'color';

:local {
  .cell-holder {
    position: relative;
    width: 37px;
    height: 37px;
    background-color: $color-bg-base-1;
    border: 1px solid $button-border-base-1;
  }

  .cell {
    font-size: 22px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: transparent;
    border: none;
    margin: 0;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .cell-holder:hover,
  .cell-holder.hover,
  .cell:hover {
    background-color: $board-bg-hover-0;
  }

  .mini-numbers {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 1px;
    font-size: 11px;
    line-height: 12px;
  }

  .mini-number {
    position: relative;
    min-height: 1px;
    text-align: center;

    &.to-be-removed {
      font-weight: bold;
    }

    &.being-removed {
      color: $cell-bg-being_removed;
    }

    &.removed {
      opacity: 0;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .inconsistent {
    border-color: $color-inconsistent;
  }

  .hide {
    display: none;
  }

  .assigned {
    font-weight: bold;
    color: blue;
  }
}
