@import 'color';
:local {
  .remove-value-dialog {
    position: absolute;
    z-index: 200;
  }

  .cell-group {
    display: flex;
    flex-wrap: wrap;
    width: 113px;
    border: 1px solid $button-border-base-1;
  }

  .cell-holder {
    position: relative;
    width: 37px;
    height: 37px;
    background-color: $color-bg-base-1;
    border: 1px solid $button-border-base-1;
  }

  .cell {
    font-size: 22px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    margin: 0;
    
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:hover {
      background-color: $board-bg-hover-0;
    }

    &.removed {
      background-color: $cell-bg-removed;
    }
  }

  .hide {
    display: none;
  }
}
