@import 'dimmensions';

:local {
  .radio {
    font-size: 14px;
    position: relative;
    width: 100%;
    padding: 1px 1px;
    cursor: pointer;
  }
  
  .radio-label {
    margin-left: $dimm-margin-xsmall;
  }
}
