@import 'materialColor';

$color-bg-base-0: #FFFFFF;
$color-bg-base-1: #F7F7F9;
$color-bg-hover-1: #F7F7F9;
$color-bg-hover-2: #DDDDDD;
$color-bg-green: darken(#F1F8E9, 10%);
$color-bg-light_green: #F1F8E9;
$color-bg-yellow: #FFFFE6;
$color-bg-light_yellow: #FFFFEE;

$color-border-base-0: #777777;
$color-border-base-1: #999999;

$color-type-base-0: #000000;

$button-bg-base-1: $color-bg-base-1;
$button-bg-hover-1: #DDDDDD;
$button-bg-active-1: #999999;

$button-bg-gradient-base-1-1: #FFF9E9;
$button-bg-gradient-base-1-2: #FFEAEA;
$button-bg-gradient-hover-1-1: darken($button-bg-gradient-base-1-1, 5%);
$button-bg-gradient-hover-1-2: darken($button-bg-gradient-base-1-2, 5%);
$button-bg-gradient-active-1-1: darken($button-bg-gradient-base-1-1, 9%);
$button-bg-gradient-active-1-2: darken($button-bg-gradient-base-1-2, 9%);


$button-bg-base-2: #DDDDDD;
//Possibly FDF8F3


$button-border-base-1: #DDDDDD;

$board-border: #000000;
$board-bg-hover-0: #BEBEC5;

$card-border-base-0: #000000;

$cell-bg-removed: #FF0000;
$cell-bg-being_removed: #FF0000;

$color-inconsistent: #FF0000;

$history-bg-base-0: $color-bg-light_green;
$history-bg-not_in_use-0: #DDDDDD;

$history-child-bg-base-0: $color-bg-yellow;
