$dimm-margin-xsmall: 0.25rem;
$dimm-margin-small: 0.5rem;
$dimm-margin-default: 1rem;
$dimm-margin-large: 2rem;
$dimm-margin-xlarge: 4rem;

$dimm-sort-name-width: 200px;
$dimm-sort-level-width: 130px;
$dimm-sort-consistencies-width: 135px;
$dimm-sort-solutions-width: 100px;
$dimm-sort-clues-width: 80px;
$dimm-sort-source-width: 500px;

$panel-width: 570px;
$panel-height: 664px;