@import 'color';

:local {
  .slider-container {
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 12px;
    background-color: $history-child-bg-base-0;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }

  .progress-bar {
    flex-grow: 1;
    margin: 0;
  }
}

:global {
  .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background-color: $history-bg-base-0;
    box-shadow: none;
    color: $color-type-base-0;
  }
}
