@import 'color';
@import 'dimmensions';

:local {
  .solver-history {
    margin: $dimm-margin-xsmall;
    padding: $dimm-margin-small;
    background-color: $color-bg-base-0;
    border: solid 1px $color-border-base-0;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 16px;
  }

  .history-panel-content {
    overflow-y: scroll;
    flex-grow: 1;
    height: 392px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      
      &:vertical {
        width: 11px;
        margin-left: 10px;
      }
      &:horizontal {
        height: 11px;
      }
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, 0.5);
    }
    &::-webkit-scrollbar-track {
      background-color: white;
      border-radius: 8px;
      margin-left: 2px;
    }
  }

  .title-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: $dimm-margin-small;
  }

  .undo-redo-buttons {
    display: flex;
  }

  .history-button {
    margin-left: $dimm-margin-xsmall;
    padding: 0 12px;
  }
}
