@import 'dimmensions';
@import '../style.scss';

:local {
  .ba-container {
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 12px;
    background-color: $history-child-bg-base-0;

    .ba-button {
      margin: $dimm-margin-small;
    }
  }
}