@import 'color';
@import 'dimmensions';

:local {
  .submit-panel {
    width: 570px;
    height: $panel-height;
    padding: $dimm-margin-xsmall;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .submit-card {
    flex-grow: 1;
    margin: $dimm-margin-xsmall;
    margin-top: 0;
    padding: $dimm-margin-small;
    border: solid 1px $color-border-base-0;
    background-color: $color-bg-base-0;
    overflow-y: scroll;

    .title {
      font-size: 16px;
    }

    .instance-attribute {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-bottom: $dimm-margin-small;
    }

    .attribute-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: $dimm-margin-small;
    }

    .difficulty-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;

      input[type="text"] {
        width: 60px;

        &.error {
          border-color: red;
        }
      }
    }

    .attribute-set-title {
      font-size: 14px;
    }

    .actions-row {
      display: flex;
      margin-bottom: $dimm-margin-small;

      .action-row-button {
        flex-grow: 1;
      }
    }
  }

  input[type="text"].puzzle-values {
    width: 100%;

    &.error {
      border-color: red;
    }
  }

  .horizontal-rule {
    width: 100%;
    border-top: 1px $color-border-base-0 solid;
    margin-top: $dimm-margin-default;
    margin-bottom: $dimm-margin-small;
  }

  .action-button {
    width: inherit;
    margin-right: $dimm-margin-small;
  }

  .action-text {
    font-size: 14px;
    padding: 4px 5px;
  }

  .solution {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    margin: $dimm-margin-xsmall;
  }

  .solution-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: $dimm-margin-xsmall;
    background-color: $color-bg-light_yellow;
  }

  .differing-cell {
    background-color: $color-bg-green;
  }

  .original-assignment {
    font-weight: bold;
  }

  .title-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .undo-redo-buttons {
    display: flex;
  }

  .history-button {
    padding: 3px 12px;
    margin-left: $dimm-margin-xsmall;
    margin-bottom: $dimm-margin-small;
  }
}