@import 'color';
@import 'dimmensions';

:local {
  .group-consistency {
    display: flex;
    flex-direction: column;
    margin: $dimm-margin-xsmall;
    padding: $dimm-margin-small;
    background-color: $color-bg-base-0;
    border: solid 1px $color-border-base-0;
  }

  .title {
    font-size: 16px;
    text-align: center;
  }

  .prop-qualifier {
    font-size: 16px;
    text-align: center;
  }

  .hover-info {
    pointer-events: none;
    display: none;
    width: 300px;
    padding: 5px;
    background-color: $color-bg-yellow;
    border: solid 1px $color-border-base-0;
    left: 75%;
    top: 75%;
    text-align: left;

    &.mid {
      top: 50%;
      transform: translateY(-50%);
    }

    &.bottom {
      top: inherit;
      bottom: 25%;
    }
  }

  .hover-button {
    position: relative;
    
    &:hover .hover-info {
      display: block;
      position: absolute;
      z-index: 500;
    }
  }

  .vertical-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inner-button-space {
    display: flex;
    justify-content: space-between;
  }

  .cell-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid 1px $color-border-base-0;

    .cell {
      position: relative;
      width: 20px;
      height: 20px;
      background-color: $color-bg-base-1;
      border: solid 1px $color-border-base-1;
      fill: black;
      stroke: black;

      &:hover {
        background-color: $board-bg-hover-0;
      }

      img {
        margin: 0px;
        vertical-align: inherit;
      }
    }
  }

  .consistency-info-icon {
    font-size: 14px;
    padding-left: 2px;
  }
}
