@import 'color';

:local {
  .history {
    display: flex;
    justify-content: space-between;
    background-color: $history-bg-base-0;
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    cursor: pointer;
  }

  .history-title {
    
  }

  .expansion-glyph {
    padding-left: 8px;
    padding-top: 2px;
  }

  .history-child {
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    font-size: 12px;
    background-color: $history-child-bg-base-0;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }

  .puzzle-name {
    flex-grow: 1;
  }

  .progress-bar {
    flex-grow: 1;
    margin: 0;
  }

  .not-in-use {
    background-color: $history-bg-not_in_use-0;
  }

  .navigation-icon {
  }

  .lp4 {
    padding-left: 4px;
  }

  .hide {
    display: none;
  }
}
