@import 'color';
@import 'dimmensions';

:local {
  .board-features {
    margin-top: $dimm-margin-large;
    padding: 0.5rem;
    background-color: $color-bg-base-1;

    .title {
      text-align: left;
      font-size: 16px;
    }
  }

  .section-holder {
    margin-left: 0;
    margin-right: 0;
    border: solid 1px $card-border-base-0;
    display: flex;
  }

  .section {
    position: relative;
    padding: 0.5rem;
    background-color: $color-bg-base-0;
    width: 50%;
    min-height: 1px;

    .title {
      font-size: 16px;
      text-align: center;
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    
    .feature-button {
      margin-bottom: $dimm-margin-xsmall;
      margin-top: $dimm-margin-xsmall;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  .singleton-buttons {
    display: flex;
  }

  .singleton-button {
    margin: $dimm-margin-xsmall;      
  }

  input[type=checkbox].feature-checkbox {
    margin-right: 0.5rem;
  }
}