@import 'color';
@import 'dimmensions';

:local {
  .control-panel-container {
    display: flex;
    flex-direction: column;
    margin-left: $dimm-margin-large;
  }

  .control-panel {
    display: flex;
    flex-direction: column;
    width: $panel-width;
    position: relative;
    background-color: $color-bg-light_yellow;
  }

  .control-panel-header {
    display: flex;
    margin: $dimm-margin-small;    
  }

  .top-button {
    flex-grow: 1;
    text-align: center;
  }

  .settings-button {
    padding: 0;
    width: 30px;
    position: relative;
  }

  .cog-wheel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
