@import 'color';
@import 'dimmensions';

:local {
  .puzzle {
    display: flex;
    justify-content: flex-start;
    background-color: $color-bg-base-1;
    
    &:hover {
      background-color: $color-bg-hover-2;
    }
  }

  .column {
    padding-left: $dimm-margin-small;
    padding-right: $dimm-margin-small;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .col-name {
    @extend .column;
    width: $dimm-sort-name-width;
    text-align: left;
  }

  .col-level {
    @extend .column;
    width: $dimm-sort-level-width;
    text-align: center;
  }

  .col-source {
    @extend .column;
    width: $dimm-sort-source-width;
    text-align: left;
  }

  .col-clues {
    @extend .column;
    width: $dimm-sort-clues-width;
    text-align: center;
  }

  .col-solutions {
    @extend .column;
    width: $dimm-sort-solutions-width;
    text-align: center;
  }
  
  .col-const {
    @extend .column;
    width: $dimm-sort-consistencies-width;
    text-align: center;
  }
}