@import 'color';
@import 'dimmensions';

:local {
  .tab {
    padding: 3px 5px;
    background-color: $button-bg-base-1;
    border: solid 1px $color-border-base-1;
    cursor: pointer;

    &:not(:last-child) {
      border-right: none;
    }

    &.selected,
    &:hover {
      background-color: $button-bg-base-2;
    }

    &:active {
      background-color: $button-bg-base-2;
    }
  }
}
