@import 'color';

:local {
  .app-container {
    width: 100vw;
    display: flex;
  }

  .app {
    display: flex;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-prop, .col-name {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 37px;
  }

  .col-prop {
    line-height: 7px;
    fill: black;
    stroke: black;

    &:hover {
      background-color: $board-bg-hover-0;
    }
  }

  .col-consistency, .col-names{
    display: flex;
    margin: 7px 0px;
    padding: 0 1px;
  }

  .row-prop, .row-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 37px;
  }

  .row-prop {
    fill: black;
    stroke: black;

    &:hover {
      background-color: $board-bg-hover-0;
    }
  }


  .hgroup {
    display: flex;
    width: 113px;
    padding: 0 1px;
  }

  .hcell {
    width: 37px;
    line-height: 7px;
  }

  .row-consistencies {
    display: flex;
  }

  .row-consistency, .row-names{
    display: flex;
    flex-direction: column;
    margin: 0 7px;
  }

  .vgroup {
    height: 113px;
    padding: 1px 0;
  }

  .vcell {
    height: 37px;
    padding: 1px 0;
  }
}


// Global styles
body {
  font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif;
  font-size: 16px;
}
