@import 'color';
@import 'dimmensions';

:local {
  .upload-panel {
    width: 570px;
    height: $panel-height;
    padding: $dimm-margin-xsmall;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .upload-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: $dimm-margin-xsmall;
    margin-top: 0;
    padding: $dimm-margin-small;
    border: solid 1px $color-border-base-0;
    background-color: $color-bg-base-0;
  }

  .title-bar {
    grid-area: title;
  }
  
  .drop-inner {
    display: flex;
    justify-content: space-around
  }

  .file-dropzone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
  }
  
  .result-canvas-container {
    display: flex;
    justify-content: space-around;
    margin-top: $dimm-margin-small;
  }

  .result-canvas {
    width: 500px;
    height: 500px;
    border: solid black 1px;
  }
}