@import 'color';
@import 'dimmensions';

:local {
  .propagation-tools-container {
    position: relative;
  }

  .propagation-tools {
    display: flex;
    flex-direction: column;
    margin: $dimm-margin-xsmall;
    padding: $dimm-margin-small;
    background-color: $color-bg-base-0;
    border: solid 1px $color-border-base-0;
  }

  .title {
    font-size: 16px;
    text-align: center;
  }

  .hover-info {
    pointer-events: none;
    display: none;
    width: 300px;
    padding: 5px;
    background-color: $color-bg-yellow;
    border: solid 1px $color-border-base-0;
    left: 75%;
    top: 75%;
    text-align: left;

    &.mid {
      top: 50%;
      transform: translateY(-50%);
    }

    &.bottom {
      top: inherit;
      bottom: 25%;
    }
  }

  .hover-button {
    display: relative;
    
    &:hover .hover-info {
      display: block;
      position: absolute;
      z-index: 500;
    }
  }

  .content-button {
    margin: $dimm-margin-xsmall $dimm-margin-small;
  }

  .vertical-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .hasse-diagram {
    position: absolute;
    top: 0;
    left: 0;
    width: 138px;
    height: 100%;

    .hasse-line {
      stroke: grey;
      stroke-width: 1px;
    }
  }

  .horizontal-button-group {
    display: flex;
    width: 100%;
    
    .content-button{
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
