@import '../style.scss';

:local {
  .history {
    display: flex;
    flex-direction: column;
  }

  .sub-line {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .convert-button {
    width: inherit;
  }
}
