@import 'color';

:local {
  .button {
    font-size: 14px;
    position: relative;
    width: 100%;
    padding: 3px 5px;
    border: $button-border-base-1 solid 1px;
    background: $button-bg-base-1;
    background: linear-gradient(
      $button-bg-gradient-base-1-1,
      $button-bg-gradient-base-1-2
    );
    text-align: center;
    cursor: pointer;

    &.selected,
    &:hover {
      background: linear-gradient(
        $button-bg-gradient-hover-1-1,
        $button-bg-gradient-hover-1-2
      );
    }

    &:active {
      background: linear-gradient(
        $button-bg-gradient-active-1-1,
        $button-bg-gradient-active-1-2
      );
    }
  }
}
