@import 'color';
@import 'dimmensions';

:local {
  .title {
    text-align: center;
  }

  .search-tools {
    margin: $dimm-margin-xsmall;
    padding: $dimm-margin-small;
    background-color: $color-bg-base-0;
    border: solid 1px $color-border-base-0;
  }

  .find-solution-button {
    margin: $dimm-margin-xsmall;
  }

  .vertical-button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}